<template>
  <div>
    <g-breadcrumbs />
    <div class="row">
      <div class="col-24 col-md-14">
        <h1>{{ module.title }}</h1>
      </div>
      <div v-if="module.content.bestand" class="col-24 col-md-10">
        <div class="flex justify-center">
          <GSwitch />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-24 col-md-14">
        <div
          v-html="typeof module.content === 'string'
            ? $md.render(module.content)
            : $md.render(module.content[$store.getters.getNeubau ? 'neubau' : 'bestand'])"
        />
      </div>
    </div>
    <!-- TODO this should be set by the CMS -->
    <g-infografik v-if="activeModule.slug === 'simulation'" />
  </div>
</template>

<script>
import GBreadcrumbs from '~/components/GBreadcrumbs.vue'
import { activeModule } from '~/mixins/index.js'

export default {
  components: {
    GBreadcrumbs,
    GSwitch: () => import('~/components/GSwitch.vue'),
    GInfografik: () => import('~/components/GInfografik.vue')
  },
  mixins: [activeModule],
  async asyncData ({ params, payload }) {
    return payload
      ? { module: payload }
      : {
        module: await import(`~/assets/content/leitfaden/${params.module}.json`)
          .then(data => ({
            title: data.title,
            content: !data.content
              ? {
                bestand: data.bestand,
                neubau: data.neubau
              }
              : data.content
          }))
      }
  },
  head () {
    return {
      title: `${require('~/assets/content/meta.json').name} | ${this.module.title}`
    }
  }
}
</script>

<style lang="postcss" scoped>
@import '~/assets/css/variables.css';

.g-switch {
  margin-bottom: $spacing;
}

.g-infografik {
  margin-top: calc($spacing*2);
}
</style>
