<template>
  <div class="g-info-rating">
    <div class="g-info-rating__bar" :style="{ transform: `translateX(-${100 - currentStep.hScore}%)` }">
      <span class="g-info-rating__text">{{ currentStep.hScore }}%</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'InfoRating',
  props: {
    index: {
      type: Number,
      required: true
    },
    data: {
      type: Object,
      required: true
    }
  },
  computed: {
    currentStep () {
      return this.data.images.find(element => {
        return element.iIndex === this.index
      })
    }
  }
}
</script>

<style lang="postcss" scoped>
.g-info-rating {
  width: 100%;
  height: 1.5rem;
  border-radius: 100px;
  background-color: #ebeef5;
  overflow: hidden;

  &__bar {
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    background-color: #0B983A;
    transition: transform 200ms ease-in-out;
    transform: translateX(-100%);
    position: relative;
  }

  &__text {
    color: white;
    position: absolute;
  }
}
</style>
