<template>
  <div class="info-text" v-html="data.images[index].text" />
</template>

<script>
export default {
  name: 'InfoText',
  props: {
    index: {
      type: Number,
      required: true
    },
    data: {
      type: Object,
      required: true
    }
  }
}
</script>
