<template>
  <div
    :style="[
      { paddingTop: data.meta.aspectRatio ? `${data.meta.aspectRatio}%` : `${data.meta.height}px` },
      cssProps
    ]"
    class="info-image-view"
  >
    <figure
      :style="[
        { height: data.meta.height ? `${data.meta.height}px` : '' }
      ]"
    >
      <template v-for="(image, i) in images">
        <img
          :key="i"
          :src="image.src"
          :width="`${image.width}px`"
          :style="[
            { visibility: i === index ? 'visible' : 'hidden' },
            { maxWidth: data.meta.maxWidth ? `${data.meta.maxWidth}px` : '100%' }
          ]"
          :class="[
            data.meta.alternatingSize ? 'img-alternatesize' : 'img-samesize',
            { 'align-center': data.meta.align === 'center' }
          ]"
        >
        <figcaption
          v-if="image.caption"
          :key="`caption-${i}`"
          :style="`visibility: ${i === index ? 'visible' : 'hidden'}`"
          :class="{ 'align-center': data.meta.align === 'center' }"
        >
          {{ image.caption }}
        </figcaption>
      </template>

      <img v-if="showSatellite" :src="data.overlays.satellite" class="img-samesize">
    </figure>

    <div v-if="data.meta.satelliteView" class="satellite-switch overlay" @click="showSatellite = !showSatellite">
      <img :src="showSatellite ? images[index].src : data.overlays.satellite" alt="">
      <span>{{ showSatellite ? 'Normal' : 'Satellit' }}</span>
    </div>

    <div v-if="data.meta.zoomable" class="zoom-ctrl overlay">
      <button class="g-button g-button--text g-button--circle g-button--border" :disabled="zoomLevel >= 1.5" aria-label="Ansicht vergrößern" @click="zoom(1)">+</button>
      <button class="g-button g-button--text g-button--circle g-button--border" :disabled="zoomLevel <= 1" aria-label="Ansicht verkleinern" @click="zoom(-1)">-</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'InfoImageView',
  props: {
    index: {
      type: Number,
      required: true
    },
    data: {
      type: Object,
      required: true
    },
    mode: {
      type: String,
      default: null
    }
  },
  data () {
    return {
      showSatellite: false,
      zoomLevel: 1
    }
  },
  computed: {
    images () {
      return this.data.images.map(el => {
        let src
        if (this.mode === 'easy') {
          src = el.iSrcE
        } else if (this.mode === 'pro') {
          src = el.iSrcP
        } else {
          src = el.iSrc
        }
        return {
          src,
          caption: el.caption,
          width: el.width
        }
      })
    },
    cssProps () {
      return {
        '--zoom': this.zoomLevel
      }
    }
  },
  methods: {
    zoom (factor) {
      this.zoomLevel += 0.1 * factor
    }
  }
}
</script>

<style lang="postcss" scoped>
@import '~/assets/css/variables.css';

.info-image-view {
  position: relative;
  width: 100%;
  overflow: hidden;

  img.align-center {
    left: 50%;
    transform: translateX(-50%);
  }
}

.img-samesize {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale(var(--zoom));
  transform-origin: left top;
}

.img-alternatesize {
  position: absolute;
  bottom: 0;
  max-height: 100%;
  width: 100%;
}

figure {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  margin: 0;
  line-height: 0;
}

figcaption {
  position: absolute;
  bottom: 0;
  height: 1em;
  transform: translateY(-100%);
  color: white;
  white-space: nowrap;

  &.align-center {
    left: 50%;
    transform: translate(-50%, -100%);
  }
}

.satellite-switch, .zoom-ctrl {
  position: absolute;
  bottom: calc($spacing / 2);
  opacity: .7;
  transition: opacity 150ms ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.satellite-switch {
  left: calc($spacing / 2);
  height: 4rem;
  width: 4rem;
  overflow: hidden;
  border-radius: 2px;
  border: 2px solid white;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);

  > img,
  > span {
    position: absolute;
    bottom: 0;
  }

  img {
    object-fit: cover;
    width: 100%;
  }

  span {
    color: white;
    font-weight: 700;
  }
}

.zoom-ctrl {
  right: calc($spacing / 2);
}
</style>
