<template>
  <ol v-if="data.meta.legend && data.meta.legend.display">
    <li
      v-for="(label, i) in data.meta.legend.labels"
      :key="i"
    >
      <span
        :style="{ 'background-color': mode === 'easy' ? label.colorE : label.colorP }"
        class="legend__colorbox"
      />
      {{ label.text }}
    </li>
  </ol>
</template>

<script>
export default {
  name: 'InfoLegend',
  props: {
    data: {
      type: Object,
      required: true
    },
    mode: {
      type: String,
      required: true
    }
  }
}
</script>

<style lang="postcss" scoped>
ol {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

.legend__colorbox {
  display: inline-block;
  height: 1em;
  width: 1.5em;
}
</style>
