<template>
  <div class="heat-distribution">
    <client-only>
      <c-pie :chart-data="ratingchart" :options="options" />
    </client-only>
  </div>
</template>

<script>
import { Pie, mixins } from 'vue-chartjs'
const { reactiveProp } = mixins

export default {
  name: 'InfoHeatDistribution',
  components: {
    'c-pie': {
      mixins: [Pie, reactiveProp],
      props: {
        options: {
          type: Object,
          default: null
        }
      },
      mounted () {
        this.renderChart(this.chartData, this.options)
      }
    }
  },
  props: {
    data: {
      type: Object,
      required: true
    },
    index: {
      type: Number,
      required: true
    }
  },
  computed: {
    currentStep () {
      return this.data.images.find(element => {
        return element.iIndex === this.index
      })
    },
    ratingchart () {
      if (this.data.meta.rating) {
        return {
          labels: ['23-29 °C', '29-35 °C', '35-41 °C', '>41 °C'],
          datasets: [{
            data: [
              this.currentStep.hSlightlyWarm,
              this.currentStep.hWarm,
              this.currentStep.hHot,
              this.currentStep.hVeryHot
            ],
            backgroundColor: [
              'rgba(233, 225, 23, 1)',
              'rgba(240, 129, 68, 1)',
              'rgba(226, 9, 22, 1)',
              'rgba(152, 25, 21, 1)'
            ],
            borderColor: [
              'rgba(233, 225, 23, 1)',
              'rgba(240, 129, 68, 1)',
              'rgba(226, 9, 22, 1)',
              'rgba(152, 25, 21, 1)'
            ],
            borderWidth: 1
          }]
        }
      } else {
        return false
      }
    },
    options () {
      return {
        maintainAspectRatio: true,
        legend: {
          display: true,
          position: 'right',
          onClick: event => event.stopPropagation()
        },
        scales: {
          xAxes: [{
            display: false,
            ticks: {
              reverse: false
            }
          }],
          yAxes: [{
            display: false,
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    }
  }
}
</script>
