<template>
  <input v-model.number="internalValue" class="g-info-slider" type="range" aria-label="Zeit" max="3">
</template>

<script>
export default {
  name: 'InfoSlider',
  props: {
    value: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      internalValue: null
    }
  },
  mounted () {
    this.internalValue = this.value
    this.$watch('value', function () {
      this.internalValue = this.value
    })
    this.$watch('internalValue', function () {
      this.$emit('update:value', this.internalValue)
    })
  },
  methods: {
    formatTooltip (val) {
      switch (val) {
      case 0:
        return 'Status Quo'
      case 1:
        return 'Age Fresh'
      case 2:
        return 'Age 5 Years'
      case 3:
        return 'Age Fully Grown'
      }
    }
  }
}
</script>

<style lang="postcss" scoped>
.g-info-slider {
  transform: rotate(-90deg);
  position: absolute;
  width: 300px;
  right: 0;
  top: 0;
  transform-origin: bottom right;
  background: transparent;
  appearance: none;

  @define-mixin thumb {
    border: 2px solid #0b983a;
    border-radius: 50%;
    background-color: #fff;
    width: 20px;
    height: 20px;
    cursor: grab;
    appearance: none;
  }
  &::-webkit-slider-thumb{
    @mixin thumb;
    transform: translateY(-7px);
  }
  &::-moz-range-thumb {
    @mixin thumb;
  }
  &::-ms-thumb {
    @mixin thumb;
  }

  @define-mixin track {
    height: 6px;
    background-color: #e4e7ed;
    border-radius: 3px;
  }
  &::-webkit-slider-runnable-track{
    @mixin track;
  }
  &::-moz-range-track {
    @mixin track;
  }
  &::-ms-track {
    @mixin track;
  }
}
</style>
