<template>
  <div class="g-breadcrumbs">
    <nuxt-link to="/">Home</nuxt-link>
    <span v-if="activeModule" class="g-breadcrumbs__arrow" aria-hidden="true">❭</span>
    <component
      :is="activeSubModule ? 'nuxt-link' : 'span'"
      v-if="activeModule"
      :to="activeSubModule ? `/leitfaden/${activeModule.slug}`: undefined"
    >
      {{ activeModule.name }}
    </component>
    <span v-if="activeSubModule" class="g-breadcrumbs__arrow" aria-hidden="true">❭</span>
    <span v-if="activeSubModule">
      {{ activeSubModule.name }}
    </span>
  </div>
</template>

<script>
import { activeModule, activeSubModule } from '~/mixins/index.js'

export default {
  name: 'GBreadcrumb',
  mixins: [
    activeModule,
    activeSubModule
  ]
}
</script>

<style lang="postcss">
@import '~/assets/css/variables.css';

.g-breadcrumbs {
  margin-bottom: $spacing;
  line-height: inherit;
  font-size: .8rem;

  &__arrow {
    margin-left: calc($spacing / 4);
    margin-right: calc($spacing / 4);
  }

  > a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
  }
}
</style>
