<template>
  <footer height="auto">
    <div class="partner-wrapper">
      <div class="partner">
        <p>
          mit der Beteiligung der Projektpartner:
        </p>
        <ul class="partner__list">
          <li class="partner__item">
            <a href="https://www.donau-uni.ac.at/" target="_blank" rel="noreferrer"><img src="/img/logos/duk.svg" alt="Donau Universität Krems" loading="lazy"></a>
          </li>
          <li class="partner__item">
            <a href="http://www.green4cities.com/" target="_blank" rel="noreferrer"><img src="/img/logos/g4c.png" alt="Green4Cities" loading="lazy"></a>
          </li>
          <li class="partner__item">
            <a href="http://www.gedesag.at/home.html" target="_blank" rel="noreferrer"><img src="/img/logos/gedesag.png" alt="Gedesag" loading="lazy"></a>
          </li>
          <li class="partner__item">
            <a href="https://www.krems-energieautark.at/" target="_blank" rel="noreferrer"><img src="/img/logos/krems-energieautark.jpg" alt="Krems energieautark" loading="lazy"></a>
          </li>
          <li class="partner__item">
            <img src="/img/logos/yesa.jpg" alt="Yesa" loading="lazy">
          </li>
        </ul>
      </div>

      <div class="partner">
        <p>
          mit der Unterstützung von:
        </p>
        <ul class="partner__list">
          <li class="partner__item">
            <a href="https://www.klimaundenergiemodellregionen.at/" target="_blank" rel="noreferrer"><img src="/img/logos/kem.png" alt="Förderstelle" loading="lazy"></a>
          </li>
          <li class="partner__item">
            <a href="https://www.klimafonds.gv.at/" target="_blank" rel="noreferrer"><img src="/img/logos/klimafonds.svg" alt="Klimaenergiefonds" loading="lazy"></a>
          </li>
        </ul>
      </div>
    </div>
    <p><a href="/impressum">Impressum</a></p>
  </footer>
</template>

<script>
export default {
  name: 'GFooter'
}
</script>

<style lang="postcss" scoped>
@import '~/assets/css/variables.css';

footer {
  margin-top: $spacing;
  margin-bottom: calc($spacing*4);
  border-top: $primary solid .5rem;
  padding: $spacing calc($spacing/2) 0;
}

img {
  display: block;
  max-width: 100%;
}

.partner-wrapper {
  margin-left: calc(-$spacing*2);

  @media (min-width: $md) {
    display: flex;
  }
}

.partner {
  margin-bottom: $spacing;
  padding-left: calc($spacing*2);
  overflow: auto;
}

.partner__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$spacing;
  padding: 0;
  list-style: none;
}

.partner__item {
  box-sizing: border-box;
  margin-top: $spacing;
  padding-left: $spacing;
}

img {
  display: block;
  max-height: 3rem;
}
</style>
