<template>
  <header class="g-header container">
    <nuxt-link title="zur Startseite gelangen" to="/"><GLogo /></nuxt-link>
  </header>
</template>

<script>
import GLogo from '~/assets/GLogo'

export default {
  name: 'GHeader',
  components: {
    GLogo
  }
}
</script>

<style lang="postcss" scoped>
@import '~/assets/css/variables.css';

.g-header {
  margin-bottom: $spacing;
  padding: 0 calc($spacing/2);
}

svg {
  max-width: 100%;
  width: 500px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  @media screen and (min-width: 2000px) {
    max-height: none;
    max-width: none;
  }
}

a::after {
  @media print {
    content: '';
  }
}
</style>
