<template>
  <div class="g-infografik">
    <h2>Auswirkung der Gebäudebegrünung in der Gaswerkgasse, Krems</h2>
    <div class="g-infografik-settings">
      <div class="g-infografik-settings__header">
        Darstellung
      </div>
      <div class="g-infografik-settings__body row">
        <div class="col-24 col-sm-12">
          <span>als Karte mit eingezeichneter Temperatur</span><br>
          <div class="g-select g-select--bordered">
            <input id="easy" v-model="mode" type="radio" value="easy">
            <label for="easy">Easy-Modus</label>
          </div>
          <div class="g-select g-select--bordered">
            <input id="pro" v-model="mode" type="radio" value="pro">
            <label for="pro">Profi-Modus</label>
          </div>
        </div>
        <div class="col-24 col-sm-12">
          <span>als Diagramm der Verteilung der Hitzebereiche</span><br>
          <div class="g-select g-select--bordered">
            <input id="chart" v-model="mode" type="radio" value="chart">
            <label for="chart">Tortendiagramm</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-24 col-sm-24 col-lg-7">
        <info-text :data="heatData" :index="index" />
      </div>

      <div class="info-output col-24 col-sm-18 col-lg-12">
        <div class="row">
          <div :class="['col-24', 'col-sm-14', 'col-md-14', `col-lg-${mode === 'chart' ? 16 : 12}`]">
            <info-heat-distribution v-if="mode === 'chart'" :index="index" :data="heatData" />
            <info-image-view v-if="mode !== 'chart'" :index="index" :data="heatData" :mode="mode" />
          </div>
          <div
            v-if="mode !== 'chart'"
            :class="['info-legend', 'col-24', 'col-sm-10', `col-lg-${mode === 'chart' ? 8 : 12}`]"
          >
            <info-legend :data="heatData" :mode="mode" />
          </div>
        </div>
      </div>

      <div class="info-plant col-24 col-sm-6 col-lg-5">
        <span>Fortschritt der Begrünung</span>
        <div class="info-control">
          <info-image-view :index="index" :data="plantsView" />
          <info-slider :value.sync="index" />
        </div>
      </div>

      <div class="info-score col-24">
        <span>Bewertung der Temperaturverträglichkeit</span>
        <info-rating :index="index" :data="heatData" />
      </div>
    </div>
  </div>
</template>

<script>
import {
  InfoSlider,
  InfoImageView,
  InfoLegend,
  InfoHeatDistribution,
  InfoRating,
  InfoText
} from '~/components/infografik/'
import GaswerkHeat from '~/data/simulation/gaswerk-heat.json'
import Plants from '~/data/simulation/plants.json'

export default {
  name: 'GInfografik',
  components: {
    InfoSlider,
    InfoImageView,
    InfoLegend,
    InfoHeatDistribution,
    InfoRating,
    InfoText
  },
  data () {
    return {
      index: 0,
      heatData: GaswerkHeat,
      plantsView: Plants,
      radioAnsicht: 0,
      mode: 'easy'
    }
  }
}
</script>

<style lang="postcss" scoped>
@import '~/assets/css/variables.css';

.row {

  > * {
    margin-top: $spacing;
  }
}

.g-infografik-settings {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  border: 1px solid #ebeef5;
  border-radius: 4px;

  &__header {
    border-bottom: 1px solid #ebeef5;
  }

  &__header, &__body {
    padding: 1rem;
  }
}

.info-output {
  @media (min-width: $lg) {
    padding-left: $spacing;
  }
}

.info-legend {
  @media (min-width: $sm) {
    padding-left: $spacing;
  }
}

.info-control {
  position: relative;

  .info-slider {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.info-score {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-top: $spacing;

  > span {
    white-space: nowrap;
  }

  > .el-progress {
    width: 100%;

    @media (min-width: $md) {
      margin-left: $spacing;
    }
  }

  @media (min-width: $md) {
    flex-wrap: nowrap;
  }
}

.el-radio-group {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc($spacing / -2);

  > *,
  .el-radio.is-bordered + .el-radio.is-bordered {
    margin-top: calc($spacing / 4);
    margin-left: calc($spacing / 2);
  }
}
</style>
