<template>
  <div class="g-switch">
    <div
      :class="[{inactive: isNeubau}, 'flex', 'column']"
      @click="isNeubau = false"
    >
      <Bestandsbau class="bestandsbau" aria-hidden="true" />
      <span>Bestandsbau</span>
    </div>
    <div class="g-switch__toggle">
      <input
        id="switch"
        v-model="isNeubau"
        type="checkbox"
      >
      <label for="switch">Neubau statt Bestandsbau anzeigen</label>
    </div>
    <div
      :class="[{inactive: !isNeubau}, 'flex', 'column']"
      @click="isNeubau = true"
    >
      <Neubau class="neubau" aria-hidden="true" />
      <span>Neubau</span>
    </div>
  </div>
</template>

<script>
import Bestandsbau from '~/assets/icons/Bestandsbau.vue'
import Neubau from '~/assets/icons/Neubau.vue'

export default {
  name: 'GSwitch',
  components: {
    Bestandsbau,
    Neubau
  },
  computed: {
    isNeubau: {
      get () {
        return this.$store.getters.getNeubau
      },
      set (newValue) {
        this.$store.dispatch('setNeubau', newValue)
      }
    }
  }
}
</script>

<style lang="postcss" scoped>
@import '~/assets/css/variables.css';
.g-switch {
  display: inline-flex;
  align-items: baseline;

  > * {
    margin-right: .5rem;
    margin-left: .5rem;
  }

  &__toggle {
    > label {
      display: block;
      position: relative;
      height: 1.5rem;
      width: 3rem;
      background-color: $primary;
      text-indent: -9999px;
      border-radius: 1.5rem;
      border: .2rem solid $primary;
      box-sizing: content-box;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 1.5rem;
        height: 1.5rem;
        width: 1.5rem;
        background-color: white;
        transition: transform 200ms ease-in-out;
      }
    }

    > input {
      appearance: none;
      display: block;
      visibility: hidden;

      &:checked + label::after {
        transform: translateX(100%);
      }
    }
  }
}

.inactive {
  color: #aaa;
  fill: #aaa;
  cursor: pointer;
}

.bestandsbau {
  height: 3rem;
}

.neubau {
  height: 4rem;
}
</style>
