<template>
  <transition
    :name="`slide-${direction}`"
    @before-enter="setStyles"
    @after-enter="removeStyles"
  >
    <slot />
  </transition>
</template>

<script>
export default {
  name: 'GTranSlide',
  props: {
    duration: {
      type: Number,
      default: 200
    },
    delay: {
      type: Number,
      default: 0
    },
    direction: {
      type: String,
      default: 'up'
    }
  },
  methods: {
    setStyles (el) {
      el.classList.remove('slide--done')
      el.style.transitionDuration = `${this.duration}ms`
      el.style.transitionDelay = `${this.delay}ms`
    },
    removeStyles (el) {
      el.classList.add('slide--done')
      el.style.transitionDuration = ''
      el.style.transitionDelay = ''
    }
  }
}
</script>

<style lang="postcss" scoped>
@import '~/assets/css/variables.css';

.slide-up-enter-active, .slide-up-leave-active,
.slide-down-enter-active, .slide-down-leave-active,
.slide-left-enter-active, .slide-left-leave-active,
.slide-right-enter-active, .slide-right-leave-active  {
  transition-property: transform, opacity;
}

@media (min-width: $md) {
  .slider-up-leave-active,
  .slide-down-leave-active,
  .slide-left-leave-active,
  .slide-right-leave-active {
    opacity: 0;
  }

  .slide-up-enter {
    transform: translateY(100%);
    opacity: 0;
  }

  .slide-down-enter {
    transform: translateY(-100%);
    opacity: 0;
  }

  .slide-left-enter {
    transform: translateX(100%);
    opacity: 0;
  }

  .slide-right-enter {
    transform: translateX(-100%);
    opacity: 0;
  }
}
</style>
