<template>
  <div class="g-nav-site">
    <button aria-controls="module-nav" class="g-button">
      {{ activeSubModule ? activeSubModule.name : 'Subkategorie wählen' }}
    </button>
    <ul id="module-nav" class="g-nav-site__list">
      <li
        v-for="(item, i) in items"
        :key="i"
        class="g-nav-site__list-item"
      >
        <nuxt-link :to="`/leitfaden/${$route.params.module}/${item.slug}`">
          {{ item.name }}
        </nuxt-link>
      </li>
    </ul>
  </div>
</template>

<script>
import { activeModule, activeSubModule } from '~/mixins/index.js'

export default {
  name: 'GNavSite',
  mixins: [activeModule, activeSubModule],
  computed: {
    items () {
      const subModules = this.activeModule.subModules.filter(item => item.slug !== 'monitoringkonzept')
      return this.activeSubModule
        ? subModules.filter(item => item.slug !== this.activeSubModule.slug)
        : subModules
    }
  }
}
</script>

<style lang="postcss" scoped>
.g-nav-site {
  position: relative;

  &:focus-within &__list {
    display: block;
  }

  &__list {
    display: none;
    position: absolute;
    bottom: 100%;
    right: 0;
    border: 1px solid #ebeef5;
    border-radius: 4px;
    margin: 0 0 5px;
    padding: 10px 0;
    min-width: 100%;
    white-space: nowrap;
    background-color: #fff;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    list-style: none;

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      right: 20px;
      border-top: .5rem solid white;
      border-left: .6rem solid transparent;
      border-right: .6rem solid transparent;
    }
  }

  &__list-item {
    line-height: 36px;
    padding: 0 20px;
    margin: 0;
    font-size: 14px;
    color: #606266;
    > a {
      display: block;
      text-decoration: none;
    }
  }
}

</style>
