<template>
  <transition name="nav-global">
    <nav
      v-show="showNav"
      class="g-nav-global-menu"
      @click="closeNav()"
    >
      <ol>
        <g-tran-slide :delay="400">
          <li v-show="showNav" class="nav-item-home"><nuxt-link to="/">Home</nuxt-link></li>
        </g-tran-slide>
        <g-tran-slide :delay="600" direction="right">
          <li v-show="showNav" class="nav-item-module nav-item-finanzierung">
            <g-tran-slide :delay="700" direction="right">
              <div style="background-image: url(/img/menu/finanzierung.jpg)" class="nav-item__image" />
            </g-tran-slide>
            <nuxt-link to="/leitfaden/finanzierung"><span>Finanzierung</span></nuxt-link>
          </li>
        </g-tran-slide>
        <g-tran-slide :delay="600">
          <li v-show="showNav" class="nav-item-module nav-item-monitoring">
            <g-tran-slide :delay="700">
              <div style="background-image: url(/img/menu/monitoring.jpg)" class="nav-item__image" />
            </g-tran-slide>
            <nuxt-link to="/leitfaden/monitoring"><span>Monitoring</span></nuxt-link>
          </li>
        </g-tran-slide>
        <g-tran-slide :delay="800" direction="right">
          <li v-show="showNav" class="nav-item-module nav-item-simulation">
            <g-tran-slide :delay="900" direction="right">
              <div style="background-image: url(/img/menu/simulation.jpg)" class="nav-item__image" />
            </g-tran-slide>
            <nuxt-link to="/leitfaden/simulation"><span>Simulation</span></nuxt-link>
          </li>
        </g-tran-slide>
        <g-tran-slide :delay="800" direction="right">
          <li v-show="showNav" class="nav-item-module nav-item-buergerbeteiligung">
            <g-tran-slide :delay="900" direction="right">
              <div style="background-image: url(/img/menu/buergerbeteiligung.jpg)" class="nav-item__image" />
            </g-tran-slide>
            <nuxt-link to="/leitfaden/buergerbeteiligung"><span>Bürgerbeteiligung</span></nuxt-link>
          </li>
        </g-tran-slide>
        <g-tran-slide :delay="1000" direction="right">
          <li v-show="showNav" class="nav-item-module nav-item-standortwahl">
            <g-tran-slide :delay="1100" direction="right">
              <div style="background-image: url(/img/menu/standortwahl.jpg)" class="nav-item__image" />
            </g-tran-slide>
            <nuxt-link to="/leitfaden/standortwahl"><span>Standortwahl</span></nuxt-link>
          </li>
        </g-tran-slide>

        <g-tran-slide :delay="1400">
          <li v-show="showNav" class="nav-item-glossar"><nuxt-link to="/glossar">Glossar</nuxt-link></li>
        </g-tran-slide>
        <g-tran-slide :delay="1200">
          <li v-show="showNav" class="nav-item-team"><nuxt-link to="/team">Team</nuxt-link></li>
        </g-tran-slide>
        <g-tran-slide :delay="1000">
          <li v-show="showNav" class="nav-item-about"><nuxt-link to="/about">Über uns</nuxt-link></li>
        </g-tran-slide>
        <g-tran-slide :delay="200">
          <li v-show="showNav" class="nav-item-contact"><nuxt-link to="/kontakt">Kontakt</nuxt-link></li>
        </g-tran-slide>
        <g-tran-slide>
          <li v-show="showNav" class="nav-item-close"><nuxt-link to="">Schließen</nuxt-link></li>
        </g-tran-slide>
        <g-tran-slide :delay="1200" direction="right">
          <li v-show="showNav" class="nav-item-decoration">
            <g-tran-slide :delay="1300" direction="right">
              <div class="nav-item__image" />
            </g-tran-slide>
          </li>
        </g-tran-slide>
      </ol>
    </nav>
  </transition>
</template>

<script>
import GTranSlide from '~/components/GTranSlide.vue'

export default {
  name: 'GNavGlobalMenu',
  components: {
    GTranSlide
  },
  computed: {
    showNav () {
      return this.$store.getters.getShowNav
    }
  },
  mounted () {
    window.addEventListener('keydown', this.closeNavEsc)
  },
  beforeDestroy () {
    window.removeEventListener('keydown', this.closeNavEsc)
  },
  methods: {
    closeNav () {
      this.$store.dispatch('toggleShowNav')
    },
    closeNavEsc (event) {
      if (event.keyCode === 27) this.closeNav()
    }
  }
}
</script>

<style lang="postcss" scoped>
@import '~/assets/css/variables.css';

a {
  text-decoration: none;
}

.g-nav-global-menu {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  max-height: 100vh;
  overflow-y: scroll;
  border-top: .5rem solid $primary;

  * {
    box-sizing: inherit;
  }

  @media (min-width: $md) {
    overflow: hidden;
    border-top: none;
  }
}

ol {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  @media (min-width: $md) {
    flex-wrap: wrap;
    height: 100vh;
  }
}

li {
  background-color: lightgrey;
  position: relative;
  transition: background-color 300ms ease-in-out, filter 300ms ease-in-out, transform 300ms ease-in-out;

  > a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2rem;
    color: #fff;
    font-weight: 700;
    letter-spacing: .02em;
    z-index: 1;
    font-size: 1.5rem;

    @media (min-width: $md) {
      justify-content: center;
      padding: 0;
    }
  }
}

.nav-item {
  &-module {

    > a {
      justify-content: flex-end;
      padding-top: 6rem;
      color: $text-color-light;

      > span {
        background: rgba(255, 255, 255, .8);
      }
    }
  }

  &-home {
    background-color: #fff;
    order: 1;
    z-index: 8;
    > a {
      color: $text-color-light;
    }
  }
  &-glossar {
    background-color: #55692c;
    order: 7;
    z-index: 2;
    &:hover, &:focus-within {
      background-color: #667841;
    }
  }
  &-team {
    background-color: #86a27a;
    order: 8;
    z-index: 3;
    &:hover, &:focus-within {
      background-color: #92ab87;
    }
  }
  &-about {
    background-color: #295f2d;
    order: 9;
    z-index: 4;
    &:hover, &:focus-within {
      background-color: #3e6f42;
    }
  }
  &-contact {
    background-color: #86a27a;
    order: 10;
    z-index: 9;
    &:hover, &:focus-within {
      background-color: #92ab87;
    }
  }
  &-close {
    background-color: #55692c;
    order: 11;
    z-index: 12;
    &:hover, &:focus-within {
      background-color: #667841;
    }
  }

  &-monitoring {
    order: 2;
    z-index: 7;
    > .nav-item__image {
      background-position-y: 30%;
    }
  }
  &-simulation {
    order: 3;
    z-index: 6;
  }
  &-finanzierung {
    order: 4;
    z-index: 6;
    > .nav-item__image {
      background-position-y: 25%;
    }
  }
  &-standortwahl {
    order: 5;
    z-index: 5;
  }
  &-buergerbeteiligung {
    order: 6;
    z-index: 5;
    > .nav-item__image {
      background-position-y: 60%;
    }
  }

  &-decoration {
    display: none;
    z-index: 1;
  }
}

@media (min-width: $md) {
  .nav-item {
    &-module {
      flex-basis: 50%;

      .slide--done&:hover, .slide--done&:focus-within {
        z-index: 9999;
        filter: drop-shadow(0 0 1rem rgba(0, 0, 0, .9));
        transform: scale(1.05);
      }

      a {
        justify-content: center;
        padding: 0;
      }
    }
    &-home {
      background-color: #24602c;
      flex-basis: 25%;
      order: 2;
      &:hover, &:focus-within {
        background-color: #396f41;
      }
      a {
        color: #fff;
      }
    }
    &-glossar {
      flex-basis: 12.5%;
      order: 10;
    }
    &-team {
      flex-basis: 12.5%;
      order: 11;
    }
    &-about {
      flex-basis: 12.5%;
      order: 12;
    }
    &-contact {
      flex-basis: 12.5%;
      order: 3;
    }
    &-close {
      flex-basis: 12.5%;
      order: 4;
    }

    &-monitoring {
      order: 1;
    }
    &-simulation {
      order: 5;
    }
    &-finanzierung {
      order: 6;
    }
    &-standortwahl {
      order: 7;
    }
    &-buergerbeteiligung {
      order: 8;
    }

    &-decoration {
      display: block;
      flex-basis: 62.5%;
      order: 9;
      > .nav-item__image {
        background-size: cover;
        background-image: url(/img/menu/placeholder.jpg);
        background-position-x: center;
      }
    }
  }
}

.nav-item__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  z-index: 0;
}

.nav-global-enter-active {
  transition: all .3s ease-out;
}

.nav-global-leave-active {
  transition: all .15s ease-in;
}

.nav-global-enter, .nav-global-leave-to {
  opacity: 0;
  @media (max-width: 991px) {
    transform: translateY(100vh);
  }
}
</style>
