<template>
  <div class="g-nav-global">
    <button
      :class="['g-button', { 'g-button--text': !landingpage } ]"
      @click="$store.dispatch('toggleShowNav')"
    >
      {{ landingpage ? 'Entdecke mehr' : '+ menü' }}
    </button>
  </div>
</template>

<script>
export default {
  name: 'GNavGlobal',
  props: {
    landingpage: {
      type: Boolean,
      default: false
    }
  }
}
</script>
