<template>
  <div
    :class="[
      'g-navbar',
      'container',
      { 'g-navbar--landingpage': isLandingpage }
    ]"
  >
    <g-nav-global :landingpage="isLandingpage" />
    <g-nav-site
      v-if="$route.params.module"
      v-once
    />
  </div>
</template>

<script>
import GNavGlobal from '~/components/navigation/GNavGlobal.vue'
import GNavSite from '~/components/navigation/GNavSite.vue'
import { isLandingPage } from '~/mixins/index.js'

export default {
  name: 'GNavBar',
  components: {
    GNavGlobal,
    GNavSite
  },
  mixins: [isLandingPage]
}
</script>

<style lang="postcss" scoped>
@import '~/assets/css/variables.css';

.g-navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: fixed;
  position: sticky;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(transparent 0, white 20%, white 100%);
  background-repeat: no-repeat;
  padding-top: 1rem;
  padding-right: calc($spacing/2);
  padding-bottom: 1rem;
  padding-left: calc($spacing/2);

  @media print {
    display: none;
  }

  &--landingpage {
    justify-content: center;

    @media (min-width: $md) {
      justify-content: flex-start;
    }
  }
}
</style>
