.row {
  display: flex;
  flex-wrap: wrap;
}

@define-mixin cols $breakpoint{
  @for $i from 1 to 24 {
    .col-$(breakpoint)$(i) {
      width: calc($i / .24)%
    }
  }
}

@mixin cols;

@media (min-width: 768px) {
  @mixin cols sm-
}

@media (min-width: 992px) {
  @mixin cols md-
}

@media (min-width: 1200px) {
  @mixin cols lg-
}

@media (min-width: 1920px) {
  @mixin cols xl-
}
