@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat-bold.woff2') format('woff2'),
       url('/fonts/montserrat-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat-regular.woff2') format('woff2'),
       url('/fonts/montserrat-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

h1, h2, h3, h4, h5, h6 {
  color: #606266;
}

h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  overflow-wrap: break-word;
}

h2, h2:last-child {
  margin-bottom: $spacing;
  font-size: 1.5rem;
}

h3 {
  margin-bottom: calc($spacing/4);
  font-size: 1rem;
  font-weight: 700;
}
