@import '~/assets/css/variables.css';
@import '~/assets/css/_grid-system.css';
@import '~/assets/css/_typography.css';

html {
  box-sizing: border-box;
  font-size: calc(100% + .2vw);
  font-family: 'Montserrat', sans-serif;
  line-height: 1.8;

  /* ie fallback */
  @media screen\0 {
    font-size: 100%;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: inherit;
  margin: 0;
  overflow: hidden;

  @media print {
    overflow: auto;
  }
}

a {
  color: $primary;

  @media print {
    color: inherit;
    text-decoration: none;

    &[href]::after {
      content: " (" attr(href) ")";
      word-break: break-all;
    }
  }
}

/* a[href*="//"]:not([href*="greenovate.at"])::after {
  Style external links
} */

ul, ol {
  margin-bottom: $spacing;
}

p + ul, p + ol {
  margin-top: -$spacing;
}

p {
  margin-top: 0;
  margin-bottom: $spacing;
}

figure {
  margin-left: 0;
  margin-right: 0;
}

.container {
  max-width: 2000px;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.g-button {
  display: block;
  margin: 5px 0;
  padding: 12px 23px;
  border-radius: 1000px;
  color: #fff;
  background-color: $primary;
  border: none;
  font-size: 1rem;
  transition: background-color 200ms ease-in-out;
  outline: none;

  &:hover {
    background-color: color-mod($primary tint(15%));
  }

  &:focus {
    background-color: color-mod($primary tint(25%));
  }

  &--text {
    color: $primary;
    background-color: white;
    cursor: pointer;

    &:hover {
      background-color: white;
    }

    &:focus {
      background-color: color-mod($primary tint(90%));
    }
  }

  &--circle {
    border-radius: 100%;
    padding: 0;
    width: 50px;
    height: 50px;
  }

  &--border {
    border: 1px solid $primary;
  }

  &:disabled {
    background-color: #ccc;
    cursor: auto;
  }
}

.g-select {
  display: inline-block;

  > input {
    appearance: none;
    border-radius: 50%;
    border: 2px solid #999;
    width: 1rem;
    height: 1rem;
    transition: border 200ms ease-in-out;

    &:checked {
      border: 6px solid $primary;
    }
  }


  &--bordered {
    padding: 12px 20px 0 10px;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
  }
}

iframe {
  max-width: 100%;
}

.page-enter-active, .page-leave-active {
  transition: opacity .3s ease-in-out;
}

.page-enter, .page-leave-active {
  opacity: 0;
}
