<template>
  <div>
    <div ref="scrollArea" :class="['content', {'content--faded': showNav}]">
      <g-header />
      <main class="container container--main">
        <nuxt />
      </main>
      <g-footer />
      <g-nav-bar />
    </div>
    <g-nav-global-menu />
  </div>
</template>

<script>
import GFooter from '~/components/GFooter'
import GHeader from '~/components/GHeader'
import { GNavBar, GNavGlobalMenu } from '~/components/navigation'

export default {
  scrollToTop: true,
  components: {
    GFooter,
    GHeader,
    GNavBar,
    GNavGlobalMenu
  },
  computed: {
    showNav () {
      return this.$store.getters.getShowNav
    }
  },
  watch: {
    '$route.path' () {
      this.$refs.scrollArea.scroll({
        top: 0,
        left: 0
      })
    }
  }
}
</script>

<style lang="postcss" scoped>
@import "~/assets/css/variables.css";

.content {
  position: relative;
  max-height: 100vh;
  transition: opacity 0.3s ease-in-out;
  overflow: auto;

  @media print {
    max-height: none;
  }

  &--faded {
    opacity: 0;
  }
}
.container--main {
  margin-bottom: calc($spacing * 2);
  padding: calc(2rem / 2);
}
</style>
