<template>
  <div class="row">
    <div class="col-24 col-md-14">
      <h1 v-once v-text="page.title" />
      <div v-once v-html="$md.render(page.body)" />
    </div>
  </div>
</template>

<script>
export default {
  async asyncData ({ params, error, payload }) {
    return payload
      ? { page: payload }
      : { page: await require(`~/assets/content/pages/${params.slug}.json`) }
  }
}
</script>
