<template>
  <div class="row">
    <div class="col-24 col-md-14">
      <h1 class="title">{{ meta.name }}</h1>
      <p>{{ meta.description }}</p>
    </div>
    <div class="col-24 col-md-10">
      <img class="title-img" alt="" src="img/title-img/Homepage_Grafik_Simulation_800px.jpg" height="800" width="690">
    </div>
  </div>
</template>

<script>
export default {
  created () {
    this.meta = require('~/assets/content/meta.json')
  },
  head () {
    return {
      script: [{ src: 'https://identity.netlify.com/v1/netlify-identity-widget.js', async: true }]
    }
  }
}
</script>

<style lang="postcss" scoped>
.title-img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 75vh;
  height: auto;
  width: auto;

  @media print {
    max-width: 25%;
  }
}
</style>
