<template>
  <div>
    <h1 v-once v-text="page.title" />
    <div v-once class="team-content" v-html="$md.render(page.body)" />
  </div>
</template>

<script>
export default {
  async asyncData ({ params, error, payload }) {
    return payload
      ? { page: payload }
      : { page: await require('~/assets/content/pages/team.json') }
  }
}
</script>

<style lang="postcss">
@import '~/assets/css/variables.css';

.team-content {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$spacing;

  > * {
    padding-left: $spacing;
  }

  > p {
    width: 100%;
  }
}

.team-member {
  width: 100%;

  @media (min-width: $sm) {
    width: 50%;
  }

  @media (min-width: $md) {
    width: 33.3333%;
  }

  @media (min-width: $lg) {
    width: 20%;
  }

  img {
    width: 100%;
  }
}
</style>
