<template>
  <div>
    <g-breadcrumbs />
    <div class="row">
      <div class="col-24 col-md-14">
        <h1>{{ activeModule.name }}</h1>
        <h2>{{ activeSubModule.name }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-24 col-md-14">
        <div v-html="$md.render(submodule.content)" />
      </div>
    </div>
  </div>
</template>

<script>
import GBreadcrumbs from '~/components/GBreadcrumbs.vue'
import { activeModule, activeSubModule } from '~/mixins/index.js'

export default {
  components: {
    GBreadcrumbs
  },
  mixins: [activeModule, activeSubModule],
  async asyncData ({ params, payload }) {
    return payload
      ? { submodule: payload }
      : {
        submodule: await import(`~/assets/content/leitfaden/${params.module}.json`)
          .then(data => ({
            content: data.submodules[params.submodule]
          }))
      }
  },
  head () {
    return {
      title: `${require('~/assets/content/meta.json').name} | ${this.activeModule.name} | ${this.activeSubModule.name}`
    }
  }
}
</script>

<style lang="postcss" scoped>
@import '~/assets/css/variables.css';

.g-switch {
  margin-bottom: $spacing;
}
</style>
