<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 249 197.4"><g data-name="Layer 2"><g data-name="Layer 1"><path d="M144.8 197v-58.3c-2.6-1.2-37.3-1.3-40.6-.2V197l-3.5.3c-18.3 0-36.6-.2-55 0A10.1 10.1 0 0 1 35.6 187c.2-23.6.1-47.2 0-70.8a5.8 5.8 0 0 1 2.4-4.8l53.5-44L123 41.2a16.4 16.4 0 0 1 1.6-1l88.8 73.2V186.1a18.8 18.8 0 0 1-.2 3.3c-.8 4.8-4.2 7.8-9.1 7.9h-56.4a27.1 27.1 0 0 1-2.9-.4z" /><path d="M213.4 68.2l11.3 9.5L246.9 96c2.6 2.2 2.8 4.3.7 7a408 408 0 0 1-8.3 10c-2.3 2.7-5.3 2.9-8.1.5L169 61.6l-41-34.2c-1-.9-2.2-1.7-3.6-2.7l-6.8 5.4-76.2 63.6c-7.7 6.5-15.5 13-23.3 19.3-3.8 3.2-5.8 3-9.1-.8l-7.2-8.5c-2.6-3.3-2.5-5.3.7-8 7.7-6.6 15.5-13 23.3-19.5l34-28.3 42.4-35.4c3.2-2.7 6.6-5.2 9.6-8.1 6.3-6.2 19.1-5.6 25.3 0 11.4 10.2 23.4 19.7 35.1 29.5l2 1.4a31 31 0 0 0 .6-3.9v-24-2.7c.2-3 1.7-4.5 4.8-4.6h27.3c5.4 0 6.5 1.2 6.5 6.5v57.6z" /></g></g></svg>
</template>
